.container {
  font-size: 1.5rem;
  color: white;
  padding: 1rem 0;
}

.movieThumb {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  height: calc(30vh + 10px);
}

.poster {
  height: 30vh;
}

.movies {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.poster:hover {
  height: calc(30vh + 5px);
  border: 1px solid white;
}

.loading {
  animation: LoadingSpin infinite 20s linear;
  height: 20vh;
}

.controls {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

.control {
  margin: 0 1rem;
}

@keyframes LoadingSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}